*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Mobile first responsivo*/
@media (max-width:375px){
    #title{
        margin-top: 13%;
        display: flex;
        align-items:center;
        justify-content: center;
        font-family: "Poppins" ;
        font-weight: lighter;
        opacity: 0.7;
    }
    #bold{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
        font-weight: bold;
        opacity: 0.7;
    }
    #paragraph{
        display: flex;
        margin:3%;
        text-align: center;
        font-size:17px;
        font-family: "Poppins";
        opacity: 0.4;
    }
    .container{
        margin-top: 18%;
        display: flex;
        justify-content: space-around;
    }
    .item1{
        border-top-color: hsl(180, 62%, 55%);
    }
    .item2{
       margin-top: 15%;
       border-top-color:hsl(0, 78%, 62%)
    }
    .item3{
       margin-top: 15%;
       border-top-color:hsl(34, 97%, 64%)
    }
    .item4{
        padding-bottom: 4%;
        margin-top: 20%;
        border-top-color:hsl(212, 86%, 64%)
    }
    .item1, .item2, .item3, .item4{
        height: auto;
        width: 310px;
        border-width: 4%;
        border-top-style: solid;
        box-shadow: 0px 5px 5px -1px gray;
    }
    .item1 h3, .item2 h3, .item3 h3, .item4 h3{
        margin-left: 6%;
        padding-top: 5%;
        font-family: "Poppins";
        font-size: 20px;
        opacity: 0.66;
    }
    .p-item1, .p-item2, .p-item3, .p-item4{
        opacity: 0.5;
        font-family: "Poppins";
        font-size: 15px;
        justify-content: center;
        margin-top: 2%;
        margin-left: 6%;
    }
    .image-item1, .image-item2, .image-item3, .image-item4{
        display: flex;
        margin-top: 20%;
        margin-right: 10%;
        justify-content: right;
    }

    body{
        font-size: 15px;
        background-color:  hsl(0, 0%, 98%);
    }
}